services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    restart: unless-stopped
    volumes:
      - ./data/influxdb:/var/lib/influxdb2:rw
    ports:
      - 8086:8086

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - 1883:1883
      - 9001:9001
    volumes:
      - ./data/mosquitto/config:/mosquitto/config:rw
      - ./data/mosquitto/log:/mosquitto/log
      - ./data/mosquitto/data:/mosquitto/data

  zwavejs2mqtt:
    image: zwavejs/zwavejs2mqtt:latest
    container_name: zwavejs2mqtt
    privileged: true
    restart: unless-stopped
    environment:
      - SESSION_SECRET=<mysupersecretkey>
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      - TZ=Europe/Oslo
    volumes:
      - ./data/zwavejs2mqtt:/usr/src/app/store
      - /dev/serial/by-id/usb-0658_0200-if00:/dev/zwave
    ports:
      - 8091:8091
      - 3000:3000

  nodered:
    image: nodered/node-red:latest
    container_name: nodered
    restart: unless-stopped
    ports:
      - 1880:1880
    volumes:
      - ./data/nodered:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ=Europe/Oslo

  esphome:
    image: esphome/esphome:latest
    container_name: esphome
    privileged: true
    restart: unless-stopped
    ports:
      - 6052:6052
    volumes:
      - ./data/esphome:/config
      - /etc/localtime:/etc/localtime:ro

  homeassistant:
    image: homeassistant/home-assistant:latest
    container_name: homeassistant
    privileged: true
    restart: unless-stopped
    ports:
      - 8234:8123
    volumes:
      - ./data/config:/config:rw
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - TZ=Europe/Oslo
    devices:
      - /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2484123-if00:/dev/ttyACM0
    depends_on:
      - mqtt
      - zwavejs2mqtt
      - nodered
      - esphome

networks: {}